@page "/Template/object/模板"
@page "/Template/object/模板/{Id}"
@attribute [Authorize(Roles = "IsSuperAdmin,IsTenantAdmin,IsSolutionAdmin")]
<PageTitle>数据中台 - Index @Modules.Core.Shared.AppConfig.GlobalConfig.SiteTitle</PageTitle>
<h3>Template</h3>

@code {

}
<style>

</style>